body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: rgb(255, 255, 255);
}


.header {
color: rgb(87, 37, 179);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 20px;
}

.container{
    color: #e3b062;
    width: 35%;
}

.container h1 {
    color: #32b9cd;
}

.container h4{
    color: #32b9cd;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

.container input {
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    height: 30px;
    border: 1px #522e2f solid;
    border-radius: 4px;
}

.confirmar {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    margin-top: 20px;
    border: 0;
    font-weight: 600;
    border-radius: 4px;
    font-size: 18px;
    color:  #fff;
    padding: 10px 15px;
    background-color: #e75459;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.container ul{
background-color: burlywood;


}